@import "styles/variables";
@import "styles/breakpoints";


.filters{
    
    width: fit-content;
    margin: 100px auto;

    &__types{

        display: flex;
        margin-bottom: 10px;
        justify-content: space-evenly;

        &__type{
            border: 3px solid transparent;
            background-color: $base-white;
            padding: 5px 15px;
            margin: 0 5px;
            width: 190px;
            border-radius: $radius;
            font-size: 0.8em;
            cursor: pointer;
        }

        &__type:hover{
            color: $purple;
            border: 3px solid $purple;
            font-weight: bold;
        }

        &__type--selected{
            background-color: $purple;
            color: $white;
            font-weight: bold;
        }

        &__type--selected:hover{
            color: $white;
        }
        
    }

    &__search{
        display: block;
        border: none;
        border-bottom: 2px solid $purple;
        width: 70%;
        padding: 3px 10px;
        text-align: center;
        margin: auto;
    }

    &__search:focus{
        outline: none;
    }

}
    
.courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.notFound{
    width: fit-content;
    margin: -75px auto 265px auto;
    font-size: 1.4em;
    font-style: italic;
    color: $purple;
}