@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/variables';

body {
  background-color: $white;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

.container{
  min-width: $min-screen-size;
}
