@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import './styles/variables';
@import './styles/breakpoints';

body {
  background-color: $white;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-desktop-xl;

  @media (max-width: $desktop_md) {
    font-size: $font-size-desktop-lg;
  }
  @media (max-width: $desktop_sm) {
    font-size: $font-size-desktop-md;
  }
  @media (max-width: $desktop_xsm) {
    font-size: $font-size-tablet;
  }
  @media (max-width: $mobile) {
    font-size: $font-size-mobile;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

.container{
  min-width: $min-screen-size;
}
