$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

$light-purple: #AF71D9;
$purple-50: #9959d97a;
$purple: #9959D9;
$orange: #D9923B;
$brown: #592B02;
$white: #F2F2F2;
$black: #3D3D3E;

$min-screen-size: 360px;
$radius: 5px;
$soft-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
$font-size-mobile: 16px;
$font-size-tablet: 24px;
$font-size-desktop-md: 28px;
$font-size-desktop-lg: 32px;
$font-size-desktop-xl: 36px;