$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

$light-purple: #AF71D9;
$purple: #9959D9;
$orange: #D9923B;
$brown: #592B02;
$white: #F2F2F2;
$black: #3D3D3E;